{% include "header.html" %}
<style>
    body::-webkit-scrollbar{
        display: none;
        overflow: auto;
    }
</style>
      <!-- Tagline  -->
      <div class="tagline">
        <h2>"From Seed to Bloom — Fertilizers That Work. Shop With Us for a Greener Tomorrow!"</h2>
      </div>
   <!--  Categories -->
    <section id="categories" class="categories-section">
        <h2 class="categories-heading">Our Categories</h2>
        <div class="categories-container">
          <div class="category-item">
            <img onclick="location.href='/organic/'" src="/static/organic.webp" alt="Organic Fertilizers" class="category-img">
            <h3 onclick="location.href='/organic/'">Organic</h3>
          </div>
          <div class="category-item">
            <img onclick="location.href='/inorganic/'" src="/static/inorganic.jpg" alt="Inorganic Fertilizers" class="category-img">
            <h3 onclick="location.href='/inorganic/'">Inorganic</h3>
          </div>
          <div class="category-item">
            <img onclick="location.href='/bio/'" src="/static/bio.png" alt="Seeds" class="category-img">
            <h3 onclick="location.href='/bio/'">Bio</h3>
          </div>
          <div class="category-item">
            <img onclick="location.href='/liquid/'" src="/static/liquid.jpg" alt="Liquid Fertilizers" class="category-img">
            <h3 onclick="location.href='/liquid/'">Liquid</h3>
          </div>
        </div>
      </section> 

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<br><br>

<!-- Best Deals Section -->
<div class="parent">
<section class="product-section" id="best-deals">
    <h2 class="section-title">Best Deals <a href="bestdeals.html" class="view-more">View More</a></h2>
    <div class="product-cards-container">
        {%for i in products%}
        <div class="product-card">
            <div class="product-image-wrapper">
                <a href="/details-page/{{i.details_slug}}"><img src="{{i.image_url}}" alt="{{i.product_name}}" class="product-image"></a>
                <span class="product-tag">Best Seller</span>
            </div>
            <div class="product-details">
                <h3 class="product-name">{{i.product_name}}</h3>
                <div class="product-brand">Brand:{{i.product_brand}}</div>
                <div class="product-price"><strike style="color:red;">₹{{i.price_inr}}</strike>&nbsp;<b>₹{{i.discount_price}}</b></div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <a href="/details-page/{{i.details_slug}}"><button class="buy-now">Buy Now</button></a>
                <br>
                <button class="favorite-heart" onclick="toggleFavorite(this)">&#x2764;</button>
            </div>
        </div>
        {%empty%}
        <div class="no-data-container-products">
        <center><p class="nodata">NO DATA FOUND</p></center>
        </div>
        {%endfor%}
    </div>
</section>
<br><br>
<!-- Seasonal Section -->
<section class="product-section" id="seasonal">
    <h2 class="section-title">Seasonal Offers <a href="seasonal.html" class="view-more">View More</a></h2>
    <br>
    <div class="product-cards-container">  
        {%for i in products%}
        <div class="product-card">
            <div class="product-image-wrapper">
                <a href="/details-page/{{i.details_slug}}"><img src="{{i.image_url}}" alt="{{i.product_name}}" class="product-image"></a>
                <span class="product-tag">New Arrival</span>
            </div>
            <div class="product-details">
                <h3 class="product-name">{{i.product_name}}</h3>
                <div class="product-brand">Brand:{{i.product_brand}}</div>
                <div class="product-price"><strike style="color:red;">₹{{i.price_inr}}</strike>&nbsp;<b>₹{{i.discount_price}}</b></div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </div>
                <a href="/details-page/{{i.details_slug}}"><button class="buy-now">Buy Now</button></a>
                <br>
                <button class="favorite-heart" onclick="toggleFavorite(this)">&#x2764;</button>
            </div>
        </div>
        {%empty%}
        <div class="no-data-container-products">
        <center><p class="nodata">NO DATA FOUND</p></center>
        </div>
        {%endfor%}
    </div>
</section>
<br><br>

<!--Normal products section-->
<section class="product-section" id="seasonal">
    <h2 class="section-title">Our fertilizers<a href="/items/" class="view-more">View More</a></h2>
    <br>
    <div class="product-cards-container">  
        {%for i in products%}
        <div class="product-card">
            <div class="product-image-wrapper">
                <a href="/details-page/{{i.details_slug}}"><img src="{{i.image_url}}" alt="{{i.product_name}}" class="product-image"></a>
            </div>
            <div class="product-details">
                <h3 class="product-name">{{i.product_name}}</h3>
                <div class="product-brand">Brand:{{i.product_brand}}</div>
                <div class="product-price"><strike style="color:red;">₹{{i.price_inr}}</strike>&nbsp;<b>₹{{i.discount_price}}</b></div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </div>
                <a href="/details-page/{{i.details_slug}}"><button class="buy-now">Buy Now</button></a>
                <br>
                <button class="favorite-heart" onclick="toggleFavorite(this)">&#x2764;</button>
            </div>
        </div>
        {%empty%}
        <div class="no-data-container-products">
        <center><p class="nodata">NO DATA FOUND</p></center>
        </div>
        {%endfor%}
    </div>
</section>

<br><br>
<!-- Today Offers Section -->
<section class="product-section" id="today-offers">
    <h2 class="section-title">Today's Offers <a href="todayoffers.html" class="view-more">View More</a></h2>
    <br>
    <div class="product-cards-container">
        {%for i in products%}
        <div class="product-card">
            <div class="product-image-wrapper">
                <a href="/details-page/{{i.details_slug}}"><img src="{{i.image_url}}" alt="{{i.product_name}}" class="product-image"></a>
                <span class="product-tag">{{i.percentage}}% off</span>
            </div>
            <div class="product-details">
                <h3 class="product-name">{{i.product_name}}</h3>
                <div class="product-brand">Brand:{{i.product_brand}}/div>
                    <div class="product-price"><strike style="color:red;">₹{{i.price_inr}}</strike>&nbsp;<b>₹{{i.discount_price}}</b></div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-alt"></i>
                </div>
                <a href="/details-page/{{i.details_slug}}"><button class="buy-now">Buy Now</button></a>
                <br>
                <button class="favorite-heart" onclick="toggleFavorite(this)">&#x2764;</button>
            </div>
        </div>
    </div>
    {%empty%}
    <div class="no-data-container-products">
    <center><p class="nodata">NO DATA FOUND</p></center>
    </div>
    {%endfor%}
</section>
<br>
<!-- Brands Section -->
<section class="brand-promotion-section" id="brands">
    <h2 class="section-title">Company Brands</h2>
    <br>
    <div class="brand-cards-container">
        <div class="brand-card" id="brand3">
            <div class="brand-image-wrapper">
                <img src="/static/Agriboost.png" alt="Brand 1" class="brand-image">
            </div>
        </div>

        <div class="brand-card" id="brand3">
            <div class="brand-image-wrapper">
                <img src="/static/Cropmax_1.jpg" alt="Brand 2" class="brand-image">
            </div>
        </div>

        <div class="brand-card" id="brand3">
            <div class="brand-image-wrapper">
                <img src="/static/Ecofert.jpg" alt="Brand 3" id="brand3" class="brand-image">
            </div>
        </div>

        <div class="brand-card" id="brand4">
            <div class="brand-image-wrapper">
                <img src="/static/Greengrow_2.jpg" alt="Brand 4"  class="brand-image">
            </div>
        </div>

        <div class="brand-card" id="brand4">
            <div class="brand-image-wrapper">
                <img src="/static/Soilsaver_1.jpg" alt="Brand 4"  class="brand-image">
            </div>
        </div>
    </div>
    <br><br><br>
</section>
<style>
    .brand-image{
        border-radius: 50%;
    }
    .brand-cards-container{
          gap: 5px; 
          justify-content:space-evenly;
    }
    .brand-card {
        width: 100px; 
        height: 100px;
    }
    @media (max-width: 780px){
        .brand-cards-container{
              gap: 50px; 
              justify-content:space-evenly;
        }
        
       
    }
</style>
</div>
</div>
<br>
{% include "footer.html" %}
