.signup{
    background-image:url('/static/loginimg1.jpg');
    background-size: cover;
    height:100vh;
    width:100%;
    background-position:0ch;
    padding:20px;
    display: flex;
    justify-content: center;
  }

.card{
  display: flex;
  background-color:white;
  height:500px;
  width:95%;
  margin-top:60px;
  border-width: 1px;
  border-color:gainsboro;
  border-radius: 8px;
  box-shadow: 2px;
  box-shadow: rgba(18, 35, 40, 0.20) 2px 4px 6px 2px, rgba(16, 33, 40, 0.40) 2px 4px 16px 4px;

}
.icon{
  font-size: 20px;
  padding:10px;
  padding-left: 15px;
  color:green;
}
.input-icons i {
  position: absolute;
}
.input-icons {
  width: 100%;
  margin-bottom: 5px;
}
.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}
.heading{
    color:green;
    align-self:center ;
    font-family: "Roboto";
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-top:30px;
    padding-bottom: 25px;
  }
  @media (orientation:portrait){
    .span{
        color:blue;
        font-style: italic;
        text-decoration: none;
        padding-left:10px;
      }
      .card{
        display: flex;
        background-color:white;
        height:550px;
        width:76%;
        margin-top:60px;
        border-width: 1px;
        border-color:gainsboro;
        border-radius: 8px;
        box-shadow: rgba(18, 35, 40, 0.20) 2px 4px 6px 2px, rgba(16, 33, 40, 0.40) 2px 4px 16px 4px;
       
      }
      .heading{
        color:green;
        align-self:center ;
        font-family: "Roboto";
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        padding-top:30px;
        padding-bottom: 25px;
      }
      .typeBox{
        height:40px;
        width:60%;
        background-color: white;
        border-color:black;
        border-radius: 5px;
        border-width: 2px;
        color:black;
        margin-bottom:15px;
        text-align: center;
      }
    }

    .forms{
        text-align: center;
      }
      .button{
        color:white;
        background-color:green;
        height: 38px;
        width:100px;
        margin-bottom:10px;
        border-color:grey;
        border-width: 1px;
        border-radius: 6px;
        font-weight: bold;
        margin-top:-8px;
        box-shadow:3px 3px 3px black;
      }
      button:hover{
        color:aliceblue;
        background-color: green;
        box-shadow: none;
      }
      .para{
        font-family: "Roboto";
        font-size: 15px;
        color:black;
        padding-top:10px;
        font-weight: bold;
      }
      .span{
        color:blue;
        font-style: italic;
        text-decoration: none;
        padding-left:10px;
      }
      @media (orientation:landscape){
        .span1{
          color:blue;
          font-style: italic;
          text-decoration: none;
          padding-left:33cqb;
        }
        .typeBox{
          height:40px;
          width:50%;
          border-radius: 3px;
          color:black;
          border-width: 2px;
          margin-bottom: 15px;
          border-radius: 5px;
          text-align: left!;
        }
        .card{
          display: flex;
          background-color:white;
          height:550px;
          width:35%;
          margin-top:60px;
          border-width: 1px;
          border-color:gainsboro;
          border-radius: 8px;
          box-shadow: rgba(18, 35, 40, 0.20) 2px 4px 6px 2px, rgba(16, 33, 40, 0.40) 2px 4px 16px 4px;

        }
    }    