*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.head{
  color:white;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: bold;
}
.imagelogo{
  height:45px;
  width:45px;
  margin-left:10px;
  margin-bottom: 12px;
  border-radius:23px;
}

nav{
  font-family: montserrat;
  background:rgba(0, 0, 0, 0.7);
  height: 60px;
  width: 100%;
}

.logo{
  color: white;
  font-size: 30px;
  line-height: 60px;
  padding-left: 0px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a{
  color:black;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 13px;
}

a:hover{
  background: rgba(0, 0, 0, 0.7);
  transition: .5s;
}

.checkbtn{
  font-size: 25px;
  color: white;
  float:right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 600px){
  label.logo{
    font-size: 30px;
    padding-left: 10px;
  }
  nav ul li a{
    font-size: 16px;

  }
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: -23%;
    height: 40vh;
    background-color: white;
    top: 60px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover{
    background: none;
    color: green;
  }
  #check:checked ~ ul{
    left: 0px;
  }
  h1{
      padding-top: 340px;
      color: white;
    }
    h3{
      color: white;
      padding-left: 43%;
      font-size: 20px;
    }
    .btn{
      margin-right: 25%;
    }
    .btn a{
      color: white;
      background: none;
    }
}

.parent{
  height: 100%;
  width: 100%;
  background-image: url('/static/fertilizer_1.png') no repeat;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0cap;
  animation-name: anim;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height: calc(100vh - 60px);
}

@keyframes anim {
  0% {  
    background-image: url('/static/fertilizer_1.png');
  }
  50% { 
     background-image: url('/static/fertilizer_2.jpeg.jpg');
    }  
  100% {
      background-image: url('/static/fertilizer_3.jpeg.jpg');
    }
}

.child{
  text-align: center;
}

.btn{
  margin-left: 30%;
  border: 1px solid #ade97b;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover{
  color:rgb(8, 100, 100);
  background-color:#05b113;
  transition: all 1s;
}


@media (min-width: 601px) {
  h1{
    font-size: 55px;
    padding-top: 250px;
    font-weight: bold;
    color: white;
    margin-left: 0%;
  }
  label.logo{
    font-size: 30px;
    padding-left: 13px;
  }
  .head{
    font-size: 55px;
    padding-top: 350px;
    color:white;
  }
  h3{
    color: white;
    padding-left: 40%;
    font-size: 20px;
  }
  .btn{
    margin-left: 0;
  }
  .btn a{
    color: white;
    background: none;
  }
  nav ul li a{
      color:white;
      font-size: 20px;
  }
  nav ul li a:hover{
      color:#b2f518;
      font-size: 20px;
  }
}

h1 span{
  color: rgb(46, 184, 3);
}

h3{
  margin-left:-40%;
}
